@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Raleway:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
/* Paleta colores https://paletton.com/#uid=32M0F0klllldDsAhmnSpkiOt2e5 */
.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.main-image{
  height: 200px;
}
.store-name{
  font-family: 'Amatic SC', cursive;
  font-size: 70px;
}
.store-description{
  font-size: 25px;
  font-weight: 400;
}
.App-header{
  display: flex;
}


@media (prefers-reduced-motion: no-preference) {
  
}

.App {
  
background: #7cb55e;
background: linear-gradient(180deg,rgba(249,255,164,1) 0%, rgba(124,181,94,1)  100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


